bin/Debug/net8.0/Less1.exe
bin/Debug/net8.0/Less1.pdb
obj/Debug/net8.0/Less1.AssemblyInfo.cs
obj/Debug/net8.0/Less1.AssemblyInfoInputs.cache
obj/Debug/net8.0/Less1.csproj.FileListAbsolute.txt
obj/Debug/net8.0/Less1.dll
obj/Debug/net8.0/Less1.pdb
obj/Debug/net8.0/apphost.exe
obj/Debug/net8.0/ref/Less1.dll
obj/Debug/net8.0/refint/Less1.dll